/* ==================================================
	 Andy Bell Modern CSS Reset
	 ================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Adjust line heights */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/* ==================================================
	Global Styles
	================================================== */
/* 	Custom Properties
   	================================================== */
:root {
  /* Colors */
  --clr-primary-100: hsla(345, 95%, 68%, 1);
  --clr-primary-200: hsla(237, 18%, 59%, 1);
  --clr-neutral-100: hsla(0, 0%, 98%, 1);
  --clr-neutral-200: hsla(236, 21%, 26%, 1);
  --clr-neutral-300: hsla(235, 16%, 14%, 1);
  --clr-neutral-400: hsla(234, 17%, 12%, 1);
  /* Spacing */
  --spacer: 1em;
  /* Font sizes */
  --step--2: clamp(0.64rem, 0.68rem + -0.21vw, 0.5rem);
  --step--1: clamp(0.8rem, 0.79rem + 0.04vw, 0.83rem);
  --step-0: clamp(1rem, 0.89rem + 0.54vw, 1.38rem);
  --step-1: clamp(1.25rem, 0.95rem + 1.49vw, 2.29rem);
  --step-2: clamp(1.56rem, 0.92rem + 3.23vw, 3.82rem);
  --step-3: clamp(2.26rem, 0.92rem + 3.23vw, 4.82rem);
  /* Font-families */
  --ff-body: "Red Hat Text", sans-serif;
}

/* Base Styles
   ================================================== */
body {
  background-color: var(--clr-neutral-300);
  background-image: url("../images/bg-stars.svg");
  background-size: contain;
  font-family: var(--ff-body);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 6rem;
  font-size: var(--step-0);
  letter-spacing: 6px;
  color: var(--clr-neutral-100);
}

main {
  display: grid;
  place-items: center;
  height: 85vh;
}

/* ==================================================
	Utilities
	================================================== */
/* Center main content on page */
.center-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(0.5rem, 1440px) minmax(0.5rem, 1fr);
}
.center-content > * {
  grid-column: 2;
}

/* ==================================================
   Blocks
   ================================================== */
.wrapper {
  width: 100%;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  margin-right: auto;
  margin-left: auto;
  font-size: var(--step-3);
  font-weight: 700;
  text-align: center;
  color: var(--clr-primary-100);
}
@media (min-width: 45em) {
  .app {
    gap: 2rem;
  }
}
.app > div {
  flex-basis: 100%;
  min-width: 3ch;
  max-width: 5ch;
}
.app .card-wrapper {
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  background-color: #191a24;
  perspective: 1000px;
}
.app .card-wrapper .card-background {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
.app .card-wrapper .card-background.upper {
  align-items: flex-end;
  padding: 0.5rem 2rem 0 2rem;
  background-color: #353752;
}
.app .card-wrapper .card-background.upper .text {
  transform: translateY(50%);
}
.app .card-wrapper .card-background.lower {
  align-items: flex-start;
  padding: 0 2rem 0.5rem 2rem;
  box-shadow: inset 0 4px 9px -6px #191a24;
  background-color: #3e4160;
}
.app .card-wrapper .card-background.lower .text {
  transform: translateY(-50%);
}
.app .card-wrapper .flip-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 50%;
  transform: rotateX(0deg);
  transform-origin: bottom;
  transform-style: preserve-3d;
  animation: flip 900ms var(--delay) infinite ease-in-out both;
}
.app .card-wrapper .flip-wrapper .flip-card {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
  transform-origin: bottom;
}
.app .card-wrapper .flip-wrapper .flip-card.front {
  align-items: flex-end;
  padding: 0.5rem 2rem 0 2rem;
  background-color: #343650;
  backface-visibility: hidden;
}
.app .card-wrapper .flip-wrapper .flip-card.front .text {
  transform: translateY(50%);
}
.app .card-wrapper .flip-wrapper .flip-card.back {
  align-items: flex-start;
  padding: 0 2rem 0.5rem 2rem;
  background-color: #3e4160;
  transform: rotateY(180deg) rotateZ(180deg);
  transform-origin: center;
}
.app .card-wrapper .flip-wrapper .flip-card.back .text {
  transform: translateY(-50%);
}
.app .period {
  margin-top: 2rem;
  font-size: var(--step--2);
  letter-spacing: 4px;
  color: var(--clr-primary-200);
}
@media (min-width: 45em) {
  .app .period {
    font-size: var(--step--1);
  }
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}
.footer {
  display: grid;
  grid-column: 1/-1;
  place-items: center;
  height: 15vh;
  background-image: url("../images/pattern-hills.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .icons {
  display: flex;
  gap: 2rem;
}
.footer .icons svg:hover path {
  fill: var(--clr-primary-100);
}
