.wrapper {
  width: 100%;

  @include respond-to("medium") {
    max-width: fit-content;
  }
}

.app {
  display: flex;
  gap: 0.25em;
  margin-right: auto;
  margin-left: auto;
  font-size: var(--step-2);
  font-weight: 700;
  text-align: center;
  color: var(--clr-primary-100);

  @include respond-to("medium") {
    gap: 2rem;
  }

  > div {
    flex: 1;
    min-width: 3ch;
  }

  .card-wrapper {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.25rem 0.25rem rgb(0 0 0 / 50%);
    background-color: hsla(234, 17%, 12%, 1);
    perspective: 1000px;

    .card-background {
      position: relative;
      display: flex;
      justify-content: center;
      border-radius: 0.5rem;
      overflow: hidden;

      &.upper {
        align-items: flex-end;
        padding: 0.5em 0.5em 0 0.5em;
        background-color: #353752;

        .text {
          transform: translateY(50%);
        }
      }

      &.lower {
        align-items: flex-start;
        padding: 0 0.5em 0.5em 0.5em;
        background-color: #3e4160;

        .text {
          transform: translateY(-50%);
        }
      }
    }

    .period {
      margin-top: 2rem;
      font-size: var(--step--2);
      letter-spacing: 4px;
      color: var(--clr-primary-200);

      @include respond-to("medium") {
        font-size: var(--step--1);
      }
    }
  }
}
