.app {
	display: flex;
	gap: 1em;
	max-width: fit-content;
	margin-right: auto;
	margin-left: auto;
	font-size: var(--step-4);
	font-weight: 700;
	text-align: center;
}

.period {
	font-size: var(--step--1);
}
